:root {
  --white: #eff0f1;
  --brown: #685a60;
  --grey: #9e9d9c;
  --green: #0c9c5b;
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
.high-scores-body {
  background-color: var(--brown);
}
.high-score-nav {
  display: flex;
  justify-content: space-between;
}
.high-score-nav a {
  margin: 1rem 1rem 0;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}
.high-score-header {
  display: flex;
  justify-content: center;
  color: var(--white);
  font-size: 1.3rem;
  padding: 1rem 0;
}
.high-score-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--brown);
  margin: 1rem 2rem;
}
.high-score-list div {
  padding: 0.5rem 0;
  display: block;
  width: 100%;
  color: var(--white);
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
  border-color: var(--white);
  border-style: solid;
  border-width: 7px 14px 7px 14px;
}
.high-score-list div:first-child {
  border-top: 14px solid var(--white);
}
.high-score-list div:last-child {
  border-bottom: 14px solid var(--white);
}
