*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
.high-scores-body {
  background-color: rgb(59, 138, 33);
}
.high-score-nav {
  display: flex;
  justify-content: space-between;
}
.high-score-nav a {
  margin: 1rem 1rem 0;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}
.high-score-header {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.3rem;
  padding: 1rem 0;
}
.high-score-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(59, 138, 33);
  margin: 1rem 2rem;
}
.high-score-list li {
  padding: 0.5rem;
  display: block;
  width: 100%;
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
  border-color: white;
  border-style: solid;
  border-width: 7px 14px 7px 14px;
}
.high-score-list li:first-child {
  border-top: 14px solid white;
}
.high-score-list li:last-child {
  border-bottom: 14px solid white;
}
