*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
.background {
  position: relative;
  background-color: #9e9d9c;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  /* background-color: rgb(107, 107, 107); */
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: #eff0f1;
}
header p {
  text-align: right;
}
header a {
  text-decoration: none;
  color: #eff0f1;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 5rem;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.quiz-images {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.quiz-content {
  color: #eff0f1;
  text-align: left;
}
.start h1 {
  text-align: left;
  font-size: 2rem;
}
.start p {
  line-height: 1.75rem;
  margin: 1rem 0;
}
.start button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #eff0f1;
  background-color: #685a60;
  border-radius: 15px;
  width: 100%;
}

li {
  list-style: none;
  padding: 0.5rem;
  text-align: left;
}

/* input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
} */

.choices {
  padding: 0.5rem;
}
form {
  text-align: center;
}
/* form li {
  padding: 0.5rem;
  text-align: left;
} */

form li label {
  /* background-color: blue;
  color: white; */
  padding: 0.5rem;
}
